.add {
  background: none;
  border: none;
  outline: none;
  padding: 2px 4px;
  font-family: inherit;
  background-color: #fafafa;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
